.thumb{background-color: grey; border-radius: 50%; width: 20px; height: 20px; display: block; padding: 18px;float: left;}
.comments-list, .comments-list li{list-style-type: none;}
ul.comments-list>li>p{padding-left: 1rem;float: left;}
ul.comments-list>li{border-bottom: 1px #ededed solid; margin-bottom: 5px;}