.thumb{background-color: grey; border-radius: 50%; width: 20px; height: 20px; display: block; padding: 18px;float: left;}
.thumbS{background-color: grey; border-radius: 50%; width: 5px; height: 5px; display: block; padding: 10px;float: left;}
.comments-list{padding-left: 0;  overflow-y: scroll; height: 400px;}
.comments-list, .comments-list > li{list-style-type: none;}
.replyBody{margin-left:1.9rem;}
ul.comments-list>li>p{padding-left: 1rem;float: left;}
.repliesList{margin-top: 1rem;}
.repliesList li{background-color: #3c3c3c66; padding:1rem; margin-bottom: 3px; list-style-type: none;}
.repliesList li p{margin: 0;}
ul.comments-list>li{border-bottom: 1px #262626 solid; margin-bottom: 5px; padding:1rem}
.likes{color: #727272; margin-top: 1rem;}
.likes button{margin-right: 10px;}
.video-comments{font-size: 1.3rem;}
